<div class="cardContainer d-flex flex-column mb-4">
    <div class="container-fluid cardHeader d-flex flex-column justify-content-center align-items-center py-2">
        <h1 class="title align-self-center">$NAME</h1>
        <h2 class="role m-0"><i class="fa fa-university fa-lg mr-2"></i>$ROLE</h2>
    </div>

    <div class="container-fluid cardContentParentContainer py-4">
        <div class="container d-flex flex-column cardContentContainer p-2 justify-content-center align-items-center">
            <h2 class="cardInfo">Id: $ID_PLACEHOLDER</h2>
            <h2 class="cardInfo d-flex flex-row">Email: <p class="m-0 ml-2">$EMAIL_PLACEHOLDER</p></h2>
            <h2 class="cardInfo d-flex flex-row">School: <p class="m-0 ml-2">$SCHOOL_PLACEHOLDER</p></h2>
        </div>
    </div>
</div>