<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Generator</title>

    <!-- Add icon library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">

    <!-- Bootstrap style link-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Custom scripts linked -->
    <link rel="stylesheet" href="./styles.css"></link>
    <link rel="stylesheet" href="../templates/styles.css"></link>
</head>
<body>
    <div class="container-fluid d-flex header justify-content-center align-items-content">
        <h1 class="d-flex align-items-center m-0">My Team</h1>
    </div>

    <div class="container d-flex flex-column align-items-center justify-content-center content mt-5">
        $CARD_ELEMENT
    </div>
</body>
</html>